<nav class="navbar navbar-default">
    <button type="button" class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#AddClientModal">Add Client</button>
    <button type="button" class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#AddTeamModal">Add Team</button>
    <button type="button" class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#AddUserModal">Add User</button>
</nav>

  <!-- Add Client -->
  <div class="modal" tabindex="-1" role="dialog" id="AddClientModal"> 
  <div class="modal-dialog modal-lg" role="document"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">Add Client</h4> 
      </div> 
      <div class="modal-body"> 
        <form id="AddClientForm" [formGroup] = "AddClientFormGroup">
          @if(postStatus.status === "OK")
          {
            <div class="alert alert-success">
              <p>Successfully added client</p>
            </div>
          }
          @else if( postStatus.status === "KO")
          {
            <div class="alert alert-danger">
              <p>Failed to add new client</p>
            </div>
          }
          <div class="row">
            <div class="col-3 text-end">
              <p>name of client</p>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" formControlName = "name">
            </div>
          </div>

        </form>

      </div> 
      <div class="modal-footer"> 
        <input type="submit" class="btn-ns btn" from="AddClientForm" value="Add Client" (click) = "AddClient()" [disabled] = "!AddClientFormGroup.valid">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
          Close 
        </button> 
      </div> 
    </div> 
  </div> 
</div>

<!-- Add Team -->
<div class="modal" tabindex="-1" role="dialog" id="AddTeamModal"> 
<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document"> 
  <div class="modal-content"> 
    <div class="modal-header"> 
      <h4 class="modal-title">Add Team</h4> 
    </div> 
    <div class="modal-body">
      <form id="AddTeamForm">
        <div class="row mb-3 p-3" >
          <select value="Choose client" class="form-control">
            <option selected disabled hidden>Choose client</option>
            <option>Client1</option>
            <option>Client2</option>
            <option>Client3</option>
            <option>Client4</option>
          </select>
        </div>
        <div class="row">
          <div class="col-3 text-end">
            <p>Enter Team name</p>
          </div>
          <div class="col-9">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="row mt-3">
            <div class="col-9 text-end">
              <p>User1</p>
            </div>
            <div class="col-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-9 text-end">
              <p>User2</p>
            </div>
            <div class="col-3">
              <input type="checkbox">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-9 text-end">
              <p>User3</p>
            </div>
            <div class="col-3">
              <input type="checkbox">
            </div>
          </div>
        </div>
      </form>


    </div> 
    <div class="modal-footer">
      <input  type="submit" form="AddTeamForm" class="btn btn-ns" value="Add Team">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> 
    </div> 
  </div> 
</div> 
</div>

<!-- Add User -->
<div class="modal" tabindex="-1" role="dialog" id="AddUserModal"> 
<div class="modal-dialog modal-lg modal-dialog-scrollable" role="document"> 
  <div class="modal-content"> 
    <div class="modal-header"> 
      <h4 class="modal-title">AddUser</h4> 
    </div> 
    <div class="modal-body">

      <div class="row mt-3">
        <div class="col-3 text-end">
          <p>Enter first name</p>
        </div>
        <div class="col-9">
          <input type="text" class="form-control">
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-3 text-end">
          <p>Enter last name</p>
        </div>
        <div class="col-9">
          <input type="text" class="form-control">
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-3 text-end">
          <p>Enter email</p>
        </div>
        <div class="col-9">
          <input type="email" class="form-control">
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-3 text-end">
          <p>Enter username</p>
        </div>
        <div class="col-9">
          <input type="text" class="form-control">
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-3 text-end">
          <p>Enter Password</p>
        </div>
        <div class="col-9">
          <input type="password" class="form-control">
        </div>
      </div>
      
      <div class="row mt-3" id="AddToTeams">
        <div class="row mb-3">
          <div class="col" >
            <select value="Choose client" class="form-control">
              <option selected disabled hidden>Choose client</option>
              <option>Client1</option>
              <option>Client2</option>
              <option>Client3</option>
              <option>Client4</option>
            </select>
          </div>
          <div class="col" >
            <select value="Choose Team" class="form-control">
              <option selected disabled hidden>Choose Team</option>
              <option>Team1</option>
              <option>Team2</option>
              <option>Team3</option>
              <option>Team4</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-ns">Add to Team</button>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col" >
            <select value="Choose client" class="form-control">
              <option selected disabled hidden>Choose client</option>
              <option>Client1</option>
              <option>Client2</option>
              <option>Client3</option>
              <option>Client4</option>
            </select>
          </div>
          <div class="col" >
            <select value="Choose Team" class="form-control">
              <option selected disabled hidden>Choose Team</option>
              <option>Team1</option>
              <option>Team2</option>
              <option>Team3</option>
              <option>Team4</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-ns">Add to Team</button>
          </div>
        </div>

        <div class="row">
          <div class="col" >
            <select value="Choose client" class="form-control">
              <option selected disabled hidden>Choose client</option>
              <option>Client1</option>
              <option>Client2</option>
              <option>Client3</option>
              <option>Client4</option>
            </select>
          </div>
          <div class="col" >
            <select value="Choose Team" class="form-control">
              <option selected disabled hidden>Choose Team</option>
              <option>Team1</option>
              <option>Team2</option>
              <option>Team3</option>
              <option>Team4</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-ns">Add to Team</button>
          </div>
        </div>
      </div>


    </div> 
    <div class="modal-footer"> 
      <input type="submit" from="AddUserForm" value="Add User" class="btn btn-ns">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
        Close 
      </button> 
    </div> 
  </div> 
</div> 
</div>