
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            @if(selectTab.credentialsTab)
            {
                <button class="btn btn-ns" (click) = "OpenModalWithData('AddCredential','teamList')">Add credential</button>&nbsp;
                <button class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#PasswordGenerator">Password Generator</button>&nbsp;
                <button class="btn btn-ns" (click) = "ShowGiveCredentialInternallyModal()">Give Credential Internally</button>&nbsp;
                <button class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#GiveCredentialExternally">Give Credential Externally</button>
            }
            @else if(selectTab.privateTab)
            {
                <button class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#AddFolder">Add Folder</button>&nbsp;
                <button class="btn btn-ns" (click) = "OpenModalWithData('AddPersonalCredential','personalFolderList')">Add credential</button>&nbsp;
                <button class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#PasswordGenerator">Password Generator</button>&nbsp;
                <button class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#GiveCredential">Give Credential</button>
                
            }
            @else if(selectTab.certificatesTab)
            {
                <button class="btn btn-ns" data-bs-toggle="modal" data-bs-target="#UploadCertificate"> Upload Certificate</button>
            }

        </div>
        <div>
            <input type="text" placeholder="search" class="btn btn-ns text-start">&nbsp;
            <i class="bi bi-search btn btn-ns"></i>
        </div>
  
    </div>
  </nav>


@if(selectTab.credentialsTab )
{
  <!-- Add Credential -->
  <div class="modal" tabindex="-1" role="dialog" id="AddCredential"> 
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Add Credential</h4> 
        </div> 
        <div class="modal-body"> 
            @if(ResetFormGroup(responseStatus) === "OK")
            {
                <div class="alert alert-success" role="alert">
                    Credential successfully added
                  </div>
            }
            @else if (ResetFormGroup(responseStatus) === "KO")
            {
                <div class="alert alert-danger" role="alert">
                    Failed to add credential
                </div>
            }

          <form [formGroup]="addCredentialForm" id="addCredentialForm" >
              <div class="row m-2">
                  <div class="col-4 text-end">
                      <p>Domain Name <span *ngIf="addCredentialForm.controls.domain.invalid" class="text-danger">*</span></p>
                  </div>
                  <div class="col d-flex justify-content-center p-0">
                      <input formControlName="domain" class="w-100 form-control" type="text">
                  </div>
              </div>
  
              <div class="row m-2">
                  <div class="col-4 text-end">
                      <p>Username <span *ngIf="addCredentialForm.controls.username.invalid" class="text-danger">*</span></p>
                  </div>
                  <div class="col d-flex justify-content-center p-0">
                      <input formControlName="username" class="w-100 form-control" type="text">
                  </div>
                      
              </div>
              <div class="row m-2">
                  <div class="col-4 text-end">
                      <p>Password <span *ngIf="addCredentialForm.controls.password.invalid" class="text-danger">*</span></p>
                  </div>
                  <div class="col d-flex justify-content-center p-0">
                      <input formControlName="password" class="w-100 form-control" type="password">
                  </div>
                      
              </div>
  
              <div class="row m-2">
                  <div class="col-4 text-end">
                      <p>E-mail</p>
                  </div>
                  <div class="col d-flex justify-content-center p-0">
                      <input formControlName="email" class="w-100 form-control" type="email" placeholder="mail@example.com">
                  </div>
                      
              </div>
              <div class="row m-2">
                  <div class="col-4 text-end ">
                      <p>Remote</p>
                  </div>
                  <div class="col d-flex justify-content-center p-0">
                      <input formControlName="remote" class="w-100 form-control" type="text" placeholder="Enter username">
                  </div>
                      
              </div>
              <div class="row m-2">
                  <div class="col-4 text-end ">
                      <p>Note</p>
                  </div>
                  <div class="col d-flex justify-content-center p-0">
                      <input formControlName="note" class="w-100 form-control" type="text" placeholder="Enter username">
                  </div>
                      
              </div>
            <div class="row m-2" *ngFor="let item of itemList">
                <div class="col-4 text-end ">
                    <p>{{item.clientname +" : "+item.teamname}}</p>
                </div>
                <div class="col d-flex justify-content-start p-0">
                    <input type="checkbox"  name={{item.teamname}} class="teamList" id={{item.teamid}} value={{item.clientid}}>
                </div>
            </div>
          </form>
    
        </div> 
        <div class="modal-footer"> 
          <input type="submit" class="btn btn-ns" [disabled]="!addCredentialForm.valid" value="Add Credential" from="addCredentialForm" (click) = "AddCredential()">
          <button type="button" class="btn btn-danger" (click) = "CloseModal('AddCredential')"> 
            Close 
          </button> 
        </div> 
      </div> 
    </div> 
  </div>

<!-- Password Generator -->
<div class="modal" tabindex="-1" role="dialog" id="PasswordGenerator"> 
<div class="modal-dialog" role="document"> 
  <div class="modal-content"> 
    <div class="modal-header"> 
      <h4 class="modal-title">PasswordGenerator</h4> 
    </div> 
    <div class="modal-body">
            <div class="row">
                <div class="col">
                    <p>Enter length of password</p>
                </div>
                <div class="col">
                    <input type="number" id="passwordLength">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>numbers</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="Numbers">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Upper Case</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="UpperCase">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Lower Case</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="LowerCase">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>special characters</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="SpecialCharacter">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Brackets</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="Brackets">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <input type="submit" value="Generate Password" (click) = "GeneratedPassword()">
                </div>
                <div class="col">
                    <p id="passwordString"></p>
                </div>
            </div>

    </div> 
    <div class="modal-footer"> 
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
        Close 
      </button> 
    </div> 
  </div> 
</div> 
</div>

<!-- Give Credential Internally-->
<div
class="modal"
tabindex="-1"
role="dialog"
style='display:none'
id="GiveCredentialInternally"> 
<div class="modal-dialog modal-lg" role="document"> 
  <div class="modal-content"> 
    <div class="modal-header btn-ns"> 
      <h4 class="modal-title">Give Credential Internally</h4> 
    </div> 
    <div class="modal-body"> 

        @if(ResetFormGroup(responseStatus) === "OK")
        {
            <div class="alert alert-success" role="alert">
                Successfully giving credential
              </div>
        }
        @else if (ResetFormGroup(responseStatus) === "KO")
        {
            <div class="alert alert-danger" role="alert">
                Failed to give credential
            </div>
        }

      <form [formGroup]="giveCredentialInternallyForm">
          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>Domain Name</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="domain" class="w-100 form-control" type="text" id="domain">
              </div>
          </div>


          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>Username</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="username" class="w-100 form-control" type="text">
              </div>
                  
          </div>
          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>Password</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="password" class="w-100 form-control" type="password">
              </div>
                  
          </div>
          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>E-mail</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="email" class="w-100 form-control" type="email" placeholder="mail@example.com">
              </div>
                  
          </div>
          <div class="row m-2">
              <div class="col-4 text-end ">
                  <p>Remote Location</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="remote" class="w-100 form-control" type="text">
              </div>
                  
          </div>

          <div class="row m-2">
            <div class="col-4 text-end">
                <p>Note</p>
            </div>
            <div class="col p-0">
                <textarea class="form-control" formControlName="note"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <table>
                    <thead>
                        <tr>
                            <td>Team Name</td>
                            <td colspan="2">Client Name</td>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor=" let team of clientTeamMappingList">
                            <td style=" background-color: white !important;">{{team.teamname}}</td>
                            <td style=" background-color: white !important;">{{team.clientname}}</td>
                            <td style=" background-color: white !important;" class="nospaceincell">
                                <input type="checkbox" value={{team.teamid}} class="gc_teamclientmappingcheckbox">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col">
                <table>
                    <thead>
                        <tr>
                            <td>Fullname</td>
                            <td colspan="2">Username</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of allPartUserList">
                            <td style=" background-color: white !important;">{{user.fullname}}</td>
                            <td style=" background-color: white !important;">{{user.username}}</td>
                            <td class="nospaceincell" style=" background-color: white !important;" >
                                <input type="checkbox" value={{user.id}} class="gc_usercheckbox">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

      </form>

    </div> 
    <div class="modal-footer"> 
        <input type="submit" value="Give Credential" class="btn btn-ns" [disabled]="!giveCredentialInternallyForm.valid" (click) = "GiveCredentialInternally()">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
            Close 
        </button> 
    </div> 
  </div> 
</div> 
</div>


<!-- Give Credential Externally-->
<div
class="modal"
tabindex="-1"
role="dialog"
style='display:none'
id="GiveCredentialExternally"> 
<div class="modal-dialog modal-lg" role="document"> 
  <div class="modal-content"> 
    <div class="modal-header"> 
      <h4 class="modal-title">Give Credential Externally</h4> 
    </div> 
    <div class="modal-body"> 
      <form [formGroup]="giveCredentialExternallyForm">
          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>Domain Name</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="domain" class="w-100 form-control" type="text" id="domain" required minlength="8">
              </div>
          </div>

          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>Username</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="username" class="w-100 form-control" type="text">
              </div>
                  
          </div>
          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>Password</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="password" class="w-100 form-control" type="password">
              </div>
                  
          </div>
          <div class="row m-2">
              <div class="col-4 text-end">
                  <p>E-mail</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="email" class="w-100 form-control" type="email" placeholder="mail@example.com">
              </div>
                  
          </div>
          <div class="row m-2">
              <div class="col-4 text-end ">
                  <p>Remote Location</p>
              </div>
              <div class="col d-flex justify-content-center p-0">
                  <input formControlName="remote" class="w-100 form-control" type="text">
              </div>
                  
          </div>

          <div class="row m-2">
            <div class="col-4 text-end">
                <p>Note</p>
            </div>
            <div class="col p-0">
                <textarea class="form-control" formControlName="note"></textarea>
            </div>
          </div>
          
      </form>

    </div> 
    <div class="modal-footer"> 
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
        Close 
      </button> 
    </div> 
  </div> 
</div> 
</div>


}

@else if(selectTab.privateTab)
{

<!-- Add Folder -->
<div class="modal" tabindex="-1" role="dialog" id="AddFolder"> 
    <div class="modal-dialog modal-lg" role="document"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Add Folder</h4> 
        </div> 
        <div class="modal-body"> 
            <form id="addPersonalFolder" [formGroup] = "addPersonalFolderFormGroup">
                
                <div class="row">
                    <div class="col-3 text-end">
                        Enter folder name
                    </div>
                    <div class="col-9">
                        <input type="text" formControlName = "addPersonalFolder" class="form-control">
                    </div>
                </div>
            </form>
    
        </div> 
        <div class="modal-footer"> 
            <input type="submit" from="addPersonalFolder" class="btn btn-ns" value="Add Folder" [disabled]="!addPersonalFolderFormGroup.valid" (click) = "AddPersonalFolderByUserId()">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
            Close 
          </button> 
        </div> 
      </div> 
    </div> 
    </div>

      <!-- Add Credential -->
  <div class="modal" tabindex="-1" role="dialog" id="AddPersonalCredential"> 
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Add Credential</h4> 
        </div> 
        <div class="modal-body"> 
            @if(ResetFormGroup(responseStatus) === "OK")
            {
                <div class="alert alert-success" role="alert">
                    Credential successfully added
                  </div>
            }
            @else if (ResetFormGroup(responseStatus) === "KO")
            {
                <div class="alert alert-danger" role="alert">
                    Failed to add credential
                </div>
            }

          <form [formGroup]="addCredentialForm">
            <div class="row m-2">
                <div class="col-4 text-end">
                    <p>Domain Name <span *ngIf="addCredentialForm.controls.domain.invalid" class="text-danger">*</span></p>
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <input formControlName="domain" class="w-100 form-control" type="text">
                </div>
            </div>

            <div class="row m-2">
                <div class="col-4 text-end">
                    <p>Username <span *ngIf="addCredentialForm.controls.username.invalid" class="text-danger">*</span></p>
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <input formControlName="username" class="w-100 form-control" type="text">
                </div>
                    
            </div>
            <div class="row m-2">
                <div class="col-4 text-end">
                    <p>Password <span *ngIf="addCredentialForm.controls.password.invalid" class="text-danger">*</span></p>
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <input formControlName="password" class="w-100 form-control" type="password">
                </div>
                    
            </div>

            <div class="row m-2">
                <div class="col-4 text-end">
                    <p>E-mail</p>
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <input formControlName="email" class="w-100 form-control" type="email" placeholder="mail@example.com">
                </div>
                    
            </div>
            <div class="row m-2">
                <div class="col-4 text-end ">
                    <p>Remote</p>
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <input formControlName="remote" class="w-100 form-control" type="text" placeholder="Enter username">
                </div>
                    
            </div>
            <div class="row m-2">
                <div class="col-4 text-end ">
                    <p>Note</p>
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <input formControlName="note" class="w-100 form-control" type="text" placeholder="Enter username">
                </div>
                    
            </div>
        
            <div class="row m-2" *ngFor="let item of itemList">
                <div class="col-4 text-end ">
                    <p>{{item.name}}</p>
                </div>
                <div class="col d-flex justify-content-start p-0">
                    <input type="radio"  name="personalFolder" class="persoanlFolderList" id={{item.id}} value={{item.id}}>
                </div>
            </div>
          </form>
    
        </div> 
        <div class="modal-footer"> 
          <input type="submit" class="btn btn-ns"[disabled]="!addCredentialForm.valid" value="Add Credential" (click) = "AddPersonalCredential()">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
            Close 
          </button> 
        </div> 
      </div> 
    </div> 
  </div>

<!-- Password Generator -->
<div class="modal" tabindex="-1" role="dialog" id="PasswordGenerator"> 
<div class="modal-dialog" role="document"> 
  <div class="modal-content"> 
    <div class="modal-header"> 
      <h4 class="modal-title">PasswordGenerator</h4> 
    </div> 
    <div class="modal-body">
            <div class="row">
                <div class="col">
                    <p>Enter length of password</p>
                </div>
                <div class="col">
                    <input type="number" id="passwordLength">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>numbers</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="Numbers">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Upper Case</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="UpperCase">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Lower Case</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="LowerCase">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>special characters</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="SpecialCharacter">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Brackets</p>
                </div>
                <div class="col">
                    <input type="checkbox" id="Brackets">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <input type="submit" value="Generate Password" (click) = "GeneratedPassword()">
                </div>
                <div class="col">
                    <p id="passwordString"></p>
                </div>
            </div>

    </div> 
    <div class="modal-footer"> 
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
        Close 
      </button> 
    </div> 
  </div> 
</div> 
</div>

<!-- Give Credential -->
<div class="modal" tabindex="-1" role="dialog" id="GiveCredential"> 
<div class="modal-dialog modal-lg" role="document"> 
  <div class="modal-content"> 
    <div class="modal-header"> 
      <h4 class="modal-title">Give Credential</h4> 
    </div> 
    <div class="modal-body"> 
        Give Credential

    </div> 
    <div class="modal-footer"> 
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
        Close 
      </button> 
    </div> 
  </div> 
</div> 
</div>

}

@else if(selectTab.certificatesTab)
{
<!-- Upload Certificates -->
<div class="modal" tabindex="-1" role="dialog" id="UploadCertificate"> 
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <h4 class="modal-title">Upload Certificate</h4> 
        </div> 
        <div class="modal-body"> 
            <form id="_uploadCertificate">
                <div class="row">
                    <div class="col-3 text-end">
                        Uplaod Certificate
                    </div>
                    <div class="col-9">
                        <input type="file" class="form-control">
                    </div>
                </div>
            </form>
    
        </div> 
        <div class="modal-footer"> 
            <input type="submit" class="btn btn-ns" value="Upload Certificate" multiple>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> 
              Close 
            </button> 
        </div> 
      </div> 
    </div> 
    </div>
}