<nav class="navbar m-0 p-0">
    <ul class="navbar-nav  w-100">
        <li class="nav-item mb-1 w-100" >
          <button type="button" class="btn btn-ns w-100 text-start" id="getallClientsBtn" (click) = "GetAllClients()">Clietns</button>
        </li>
        <li class="nav-item mb-1">
          <button type="button" class="btn btn-ns w-100 text-start" id="getallTeamsBtn" (click) = "GetAllTeams()">Teams</button>
        </li>

        <li class="nav-item mb-1 w-100" >
          <button type="button" class="btn btn-ns w-100 text-start " id="getallUsersBtn" (click) = "GetAllUsers()">Users</button>
        </li>

    </ul>
</nav>