<div class="h-100 btn-ns">
  <ul class="nav flex-column">
        <li class="nav-item">
          <button type="button" class="btn btn-ns w-100 text-start" id="getallClientsBtn" (click) = "GetAllClients()"><img src="../../../assets/organization.png"></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-ns w-100 text-start" id="getallTeamsBtn" (click) = "GetAllTeams()"><img src="../../../assets/group.png"></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-ns w-100 text-start " id="getallUsersBtn" (click) = "GetAllUsers()"><img src="../../../assets/user.png"></button>
        </li>
  </ul>
</div>
